@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* 요소 속성 초기화 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 요소 속성 부여 */
body {
  background-color: #1e1e1e;
}

nav > ul {
  /* nav */

  width: 1920px;
  height: 65px;
  left: 0px;
  top: 4px;
}
nav > ul > li {
  /* Group 3 */
  display: inline-block;

  width: 150px;
  height: 34px;
  left: 246px;
  top: 15px;

  background: #fbd043;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;

  margin: 10px 20px 10px 20px;
}

nav > ul > .on {
  background: #638ee3;
}

nav > ul > li > a {
  /* Home */

  text-align: center;

  width: 150px;
  height: 34px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #000000;
}

.headertxt {
  width: 99vw;
  height: 100px;
  margin: 4vw 0 -3vw 1vw;

  font-family: "Notable";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  line-height: 260px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  color: #ffffff;
}

.v-line {
  border-left: thick solid #fbd043;

  margin: 0 50vw 0 50vw;
  position: absolute;
  height: 300vh;
}
.circle {
  box-sizing: border-box;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background: #28292f;
  border: 1px solid #fbd043;
  z-index: 2;
}
.circle:nth-of-type(2) {
  position: absolute;
  top: 80vh;
  left: 49.8vw;
}
.circle:nth-of-type(3) {
  position: absolute;
  top: 147vh;
  left: 49.8vw;
}
.circle:nth-of-type(4) {
  position: absolute;
  top: 212vh;
  left: 49.8vw;
}

.scroll_wrap {
  overflow: hidden;
}
.scroll_on {
  padding: 50px 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  transition: all 1s;
}
.scroll_on.active {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}
.scroll_on.type_top {
  transform: translate(0, -50px);
}
.scroll_on.type_bottom {
  transform: translate(0, 50px);
}
.scroll_on.type_left {
  transform: translate(-50px, 0);
}
.scroll_on.type_right {
  transform: translate(50px, 0);
}

.wwrap {
  display: flex;
}
.career-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  display: flex;
  align-items: center;
  text-align: right;

  color: #ffffff;
  z-index: 0;

  margin: 50vh 0 10vh 20vw;
}

.career-year {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100px;
  display: flex;
  align-items: center;
  text-align: left;

  color: #fbd043;

  z-index: 0;

  margin: 40vh 0 0 10vw;
}

footer * {
  color: #ffffff;
  position: fixed;

  left: 10px;
  bottom: 5px;
}

.cloud1 {
  width: 100vw;

  position: fixed;
  left: 0;
  bottom: 10vh;

  margin: 45vh auto;
  z-index: -2;
  /* 애니메이션 추가 */
  animation: moveCloud 60s linear infinite;
}

.cloud2 {
  width: 100vw;

  position: fixed;
  left: -100vw;
  bottom: 10vh;

  margin: 45vh auto;
  z-index: -2;
  /* 애니메이션 추가 */
  animation: moveCloud 60s linear infinite;
}
/* 키프레임 정의 */
@keyframes moveCloud {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
.mountain {
  position: absolute;
  bottom: -200vh;
  width: 100vw;
  z-index: -1;
}
